body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.form-container {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
}

h2 {
    color: #444444;
    margin-bottom: 20px;
}

input[type="text"] {
    border-radius: 5px;
    border: 1px solid #dddddd;
    padding: 10px;
    width: 100%;
}

button[type="submit"] {
    background-color: #1abc9c;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px 20px;
    transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #148f77;
}

.online-status {
    background-color: #d1f2eb;
    border-radius: 5px;
    color: #155e52;
    margin-top: 20px;
    padding: 10px;
}

.offline-status {
    background-color: #f8d7da;
    border-radius: 5px;
    color: #721c24;
    margin-top: 20px;
    padding: 10px;
}

.error-status {
    background-color: #fff3cd;
    border-radius: 5px;
    color: #856404;
    margin-top: 20px;
    padding: 10px;
}

#clear-habbo-names {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#clear-habbo-names:hover {
    background-color: #d32f2f;
}
#names-container {
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 20px;
    text-align: center;
  }
  
  #names-container h3 {
    color: #444444;
    margin-bottom: 10px;
  }
  
  #saved-names {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  
  .name {
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #dddddd;
    color: #444444;
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px 10px;
  }
  
  .name:not(:last-child)::after {
    content: ", ";
  }

  .name {
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #dddddd;
    color: #444444;
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 5px 10px;
  }
  
  .name:not(:last-child)::after {
    content: ", ";
  }
