* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 
 body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
 }
 
 header {
    background-color: #1abc9c;
    color: white;
    padding: 20px;
    text-align: center;
 }
 
 h1 {
    font-size: 2.5rem;
    margin: 0;
 }
 
 main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
 }
 
 .form-container {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 400px;
 }
 
 h2 {
    color: #444444;
    font-size: 1.5rem;
    margin-bottom: 20px;
 }
 
 input[type="text"] {
    border-radius: 5px;
    border: 1px solid #dddddd;
    padding: 10px;
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 10px;
 }
 
 button[type="submit"], #clear-habbo-names {
    background-color: #1abc9c;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px 20px;
    transition: background-color 0.3s ease-in-out;
    font-size: 1.2rem;
 }
 
 button[type="submit"]:hover, #clear-habbo-names:hover {
    background-color: #148f77;
 }
 
 .online-status {
    background-color: #d1f2eb;
    border-radius: 5px;
    color: #155e52;
    margin-top: 20px;
    padding: 10px;
 }
 
 .offline-status {
    background-color: #f8d7da;
    border-radius: 5px;
    color: #721c24;
    margin-top: 20px;
    padding: 10px;
 }
 
 .error-status {
    background-color: #fff3cd;
    border-radius: 5px;
    color: #856404;
    margin-top: 20px;
    padding: 10px;
 }
 
 #clear-habbo-names {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
 }
 
 #clear-habbo-names:hover {
    background-color: #d32f2f;
 }
 
 #names-container {
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 50px;
    text-align: center;
 }
 
 h3 {
    color: #444444;
    font-size: 1.5rem;
    margin-bottom: 20px;
 }
 
 #saved-names {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
 }
 
 .name {
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #dddddd;
    color: #444444;
    margin: 5px;
    padding: 5px 10px;
    font-size: 1.2rem;
 }
 
 .name:not(:last-child)::after {
    content: ", ";
 }
 
 @media screen and (max-width: 768px) {
    .form-container {
       width: 90%;
    }
 }
